# 건강검진 대사증후군 분석

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("../01/국민건강보험공단_건강검진정보_20211229.csv", encoding="cp949")

In [ ]:
df.head(3)

+ 열명확인 및 변경

In [6]:
df.columns

Index(['기준년도', '가입자 일련번호', '시도코드', '성별코드', '연령대 코드(5세단위)', '신장(5Cm단위)',
       '체중(5Kg 단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기 혈압',
       '이완기 혈압', '식전혈당(공복혈당)', '총 콜레스테롤', '트리글리세라이드', 'HDL 콜레스테롤', 'LDL 콜레스테롤',
       '혈색소', '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마 지티피', '흡연상태',
       '음주여부', '구강검진 수검여부', '치아우식증유무', '치석', '데이터 공개일자'],
      dtype='object')

In [7]:
df.index # 행 인덱스

RangeIndex(start=0, stop=1000000, step=1)

+ 필요한 열 가져오기

In [ ]:
cc = list(df.columns)
cc

In [ ]:
for c in cc:
  print(c)

In [ ]:
for c in enumerate(cc):
  print(c) # 튜플

In [ ]:
for i, c in enumerate(cc):
  print(i, c)

In [12]:
df2 = df[['성별코드','허리둘레','수축기 혈압','이완기 혈압','식전혈당(공복혈당)','트리글리세라이드','HDL 콜레스테롤']]
df2.head()

   성별코드  허리둘레  수축기 혈압  이완기 혈압  식전혈당(공복혈당)  트리글리세라이드  HDL 콜레스테롤
0     1  72.1   127.0    79.0        90.0      58.0       58.0
1     2  81.0   110.0    73.0        87.0       NaN        NaN
2     2  70.0   123.0    80.0       102.0       NaN        NaN
3     1  90.8   134.0    84.0       146.0       NaN        NaN
4     2  75.2   144.0    89.0       110.0     171.0       53.0

In [17]:
## 이름 바꾸기
# 무식하게 바꿈
# df2.columns = ['성별코드','허리둘레','수축기 혈압','이완기 혈압','식전혈당(공복혈당)','트리글리세라이드','HDL 콜레스테롤']
lt = list(df2.columns)
lt = [c.replace(' ','') for c in lt]
lt[4] = "공복혈당"
lt
df2.columns = lt
df2.columns
df2.head()

   성별코드  허리둘레  수축기혈압  이완기혈압   공복혈당  트리글리세라이드  HDL콜레스테롤
0     1  72.1  127.0   79.0   90.0      58.0      58.0
1     2  81.0  110.0   73.0   87.0       NaN       NaN
2     2  70.0  123.0   80.0  102.0       NaN       NaN
3     1  90.8  134.0   84.0  146.0       NaN       NaN
4     2  75.2  144.0   89.0  110.0     171.0      53.0

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   성별코드      1000000 non-null  int64
 1   허리둘레      999892 non-null   float64
 2   수축기혈압     992468 non-null   float64
 3   이완기혈압     992466 non-null   float64
 4   공복혈당      992398 non-null   float64
 5   트리글리세라이드  402322 non-null   float64
 6   HDL콜레스테롤  402315 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 53.4 MB

In [19]:
df2 = df2.dropna(axis = 0)
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402249 entries, 0 to 999999
Data columns (total 7 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   성별코드      402249 non-null  int64
 1   허리둘레      402249 non-null  float64
 2   수축기혈압     402249 non-null  float64
 3   이완기혈압     402249 non-null  float64
 4   공복혈당      402249 non-null  float64
 5   트리글리세라이드  402249 non-null  float64
 6   HDL콜레스테롤  402249 non-null  float64
dtypes: float64(6), int64(1)
memory usage: 24.6 MB

In [20]:
import numpy as np

In [ ]:
df2['높은혈압'] = np.where((df2['수축기혈압'] >= 130) | (df2['이완기혈압'] >= 85), 1, 0)
df2.head()

In [ ]:
df2['높은혈당'] = np.where(df2['공복혈당'] >= 100, 1, 0)
df2.head()

In [ ]:
df2['높은중성지방'] = np.where(df2['트리글리세라이드'] >= 150, 1, 0)
df2.head()

In [ ]:
df2['낮은HDL수치'] = np.where(((df2['성별코드'] == 1) & (df2['HDL콜레스테롤'] < 40))
 | ((df2['성별코드'] == 2) & (df2['HDL콜레스테롤'] < 50)), 1, 0)
df2.head()

In [ ]:
df2['복부비만'] = np.where(((df2['성별코드'] == 1) & (df2['허리둘레'] >= 90))
 | ((df2['성별코드'] == 2) & (df2['허리둘레'] >= 85)), 1, 0)
df2.head()

In [31]:
df2['대사증후군'] = np.where(df2['높은혈압'] + df2['높은혈당'] + df2['높은중성지방'] + df2['낮은HDL수치']
  + df2['복부비만'] < 1, "정상",
  np.where(df2['높은혈압'] + df2['높은혈당'] + df2['높은중성지방'] + df2['낮은HDL수치']
  + df2['복부비만'] < 3, "주의군", "위험군"))
df2['성별'] = np.where(df2['성별코드'] == 1, "남성", "여성")
df2.head()
df2.groupby('성별')['대사증후군'].count()

성별
남성    197090
여성    205159
Name: 대사증후군, dtype: int64